<div class="boss_fight_cover game_field_boss hide">
    <!--Player section-->
    <div class="boss_dialog container is-end">
        <div class="boss_phrase is-end">
            <p class="enemy_text boss_text"></p>
            <img src="./images/boss-speak.png" alt="boss speak" class="boss_icon">
            <button class="next_btn phrase_after_boss">NEXT -></button>
        </div>
        <div class="hero_phrase hero_dialog is-end">
            <img src="./images/me-speak.png" alt="hero speak" class="hero_icon">
            <p class="hero_text hero_boss_text"></p>
            <button class="start_battle push_battle">Fight</button>
        </div>
    </div>
  <div class="container game_boss is-end">
        <!--Player Block-->
    <div class="player_div_boss boss_player">
        <div class="player_image_div">
            <img src="./images/me-boss.png" alt="player icon" class="pers  meBoss">
        </div>
        <div class="player_stats">
            <h3 class="boss_player_name player_name">@NAME@</h3>
            <ul class="player round_list_playerBoss round_list">
            </ul>
        </div>
    </div>
    <!--Action screen-->
    <div class="game_screen_Boss">
        <ul class="generating_num_list">
            <li class="generating_num_item">
                <span class="num_now_plBoss">-</span>
            </li>
            <li class="generating_num_item">
                <span class="num_now_aiBoss">-</span>
            </li>
        </ul>
        <button class="generate_btnBoss">FIGHT</button>
    </div>
    <!--AI section-->
    <div class="computer_div_boss boss_player">
      <ul class="boss_img_list">
          <li class="boss_img_item"><img src="./images/boss.png" alt="Archy Magnus" class="boss_icon"></li>
          <li class="boss_img_item"><img src="./images/boss-shadow.png" alt="Shadow" class="boss_icon_shadow"></li>
      </ul>
        <div class="player_stats">
            <h3 class="player_name">Archy Magnus</h3>
            <ul class="player round_list round_list_bossBoss">
            </ul>
        </div>
    </div>
  </div>
</div>


  <!--Win modal-->
  <div class="backdrop_win_game is-end">
    <div class="win_modal end_game">
        <h3 class="congrat_text">Congratulation! You beat this mf bastard!</h3>
        <a href="https://www.youtube.com/watch?v=ZkLeR8Vg5E0&list=RDZkLeR8Vg5E0&start_radio=1"><button class="end_game_btn">Exit</button></a>
        <button class="retry">Play again</button>
    </div>
</div>
<!--Lose modal-->
<div class="backdrop_loose is-end">
   <div class="loose_modal">
    <h3 class="loose_text">You Suck!</h3>
    <button class="retry retry_end">Retry</button>
   </div>
</div>