<div class="boss_fight_cover container is-hidden">
    <!--Player section-->
    <div class="player">
        <p class="player_total_pts">@TOTAL_PTS@</p>
        <picture class="player_photo">
            <img src="./images/ai1.png" alt="player icon" width="140px" height="140px">
        </picture>
        <div class="player_stats">
            <h3 class="player_name">@NAME@</h3>
            <ul class="round_list">
                <li class="round_item">
                    <span class="player_round_box">R</span>
                </li>
                <li class="round_item">
                    <span class="player_round_box">R</span>
                </li>
                <li class="round_item">
                    <span class="player_round_box">R</span>
                </li>
            </ul>
        </div>
    </div>
    <!--AI section-->
    <div class="player">
        <p class="AI_total_pts">@TOTAL_PTS@</p>
        <picture class="player_photo">
            <img src="./images/ai.png" alt="player icon" width="140px" height="140px">
        </picture>
        <div class="player_stats">
            <h3 class="player_name">@COMPUTER@</h3>
            <ul class="round_list">
                <li class="round_item">
                    <span class="player_round_box">R</span>
                </li>
                <li class="round_item">
                    <span class="player_round_box">R</span>
                </li>
                <li class="round_item">
                    <span class="player_round_box">R</span>
                </li>
            </ul>
        </div>
    </div>
</div>