 <!--Game WindoW-->
    <div class=" game_field game is">
        <h1 class="game_title">Game of Nums</h1>
        <div class="gamers_block">
            
            <div class="player">
                <p class="player_total_pts">@TOTAL_PTS@</p>
                <picture class="player_photo">
                    <img src="./images/ai.png" alt="player icon" width="200px" height="200px" class="pers">
                </picture>
                <div class="player_stats">
                    <h3 class="player_name">@NAME@</h3>
                    <ul class="round_list">
                        <li class="round_item">
                            <span class="player_round_box">R</span>
                        </li>
                        <li class="round_item">
                            <span class="player_round_box">R</span>
                        </li>
                        <li class="round_item">
                            <span class="player_round_box">R</span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="game_screen">
                <ul class="generating_num_list">
                    <li class="generating_num_item">
                        <span class="num_now">322</span>
                    </li>
                    <li class="generating_num_item">
                        <span class="num_now">322</span>
                    </li>
                </ul>
                <button class="generate_btn">GENERATE</button>
            </div>
            
            <div class="player">
                <p class="AI_total_pts">@TOTAL_PTS@</p>
                <picture class="player_photo">
                    <ul class="boss_lst">
                        <li class="boss_item"><img src="./images/boss.png" alt="player icon" width="400px" height="400px" class="boss"></li>
                        <li class="boss_item"><img src="./images/boss-shadow.png" width="400px" class="shad"></li>
                        <li class="boss_item"></li>
                    </ul>
                </picture>
                <div class="player_stats">
                    <h3 class="player_name">@COMPUTER@</h3>
                    <ul class="round_list">
                        <li class="round_item">
                            <span class="player_round_box">R</span>
                        </li>
                        <li class="round_item">
                            <span class="player_round_box">R</span>
                        </li>
                        <li class="round_item">
                            <span class="player_round_box">R</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>