 <!--Game WindoW-->
    <div class=" game_field is">
        <div class="first_dialog container">
            <div class="enemy_phrase is">
                <p class="enemy_text"></p>
                <img src="./images/enemy1-speak.png" alt="enemy speak" class="enemy_icon">
                <button class="next_btn">NEXT -></button>
            </div>
            <div class="hero_phrase is">
                <img src="./images/me-speak.png" alt="hero speak" class="hero_icon">
                <p class="hero_text"></p>
                <button class="start_battle">Fight</button>
            </div>
            
        </div>
        <div class="container game is">
            <h1 class="game_title">Game of Nums</h1>
        <div class="gamers_block">
            
            <div class="player playerBlock">
                <div class="player_photo player_photo_p">
                    <img src="./images/me.png" alt="player icon" class="pers char_icon">
                </div>
                <div class="player_stats">
                    <h3 class="player_name">@NAME@</h3>
                    <ul class="round_list_player round_list">
                      <!--  <li class="round_item">
                            <span class="player_round_box"><img class="hp" src="./images/hp.png" alt="HP"></span>
                        </li>
                        <li class="round_item">
                            <span class="player_round_box"><img class="hp" src="./images/hp.png" alt="HP"></span>
                        </li>
                        <li class="round_item">
                            <span class="player_round_box"><img class="hp" src="./images/hp.png" alt="HP"></span>
                        </li>-->
                    </ul>
                </div>
            </div>
            <!--Active parts-->
            <div class="game_screen">
                <ul class="generating_num_list">
                    <li class="generating_num_item PL_item">
                        <span class="num_now_pl">-</span>
                    </li>
                    <li class="generating_num_item AI_item">
                        <span class="num_now_ai">-</span>
                    </li>
                </ul>
                <button class="generate_btn">FIGHT</button>
            </div>
            <!--AI block-->
            <div class="player AIBlock">
                <div class="player_photo player_photo_c"> 
            <img src="./images/enemy1.png" alt="player icon" class="enemy1 char_icon">
                </div>
                <div class="player_stats">
                    <h3 class="player_name">Lendo Akbar</h3>
                    <ul class="round_list_computer round_list">
                        <!--<li class="round_item">
                            <span class="comp_round_box"><img class="hp" src="./images/hp.png" alt="HP"></span>
                        </li>
                        <li class="round_item">
                            <span class="comp_round_box"><img class="hp" src="./images/hp.png" alt="HP"></span>
                        </li>
                        <li class="round_item">
                            <span class="comp_round_box"><img class="hp" src="./images/hp.png" alt="HP"> </span>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>

            <!--Win modal-->
            <div class="backdrop_win is-end">
                <div class="win_modal">
                    <h3 class="congrat_text">Congratulation!</h3>
                    <button class="boss_fight_btn">Fight with boss</button>
                </div>
            </div>
            <!--Lose modal-->
            <div class="backdrop_loose is-end">
               <div class="loose_modal">
                <h3 class="loose_text">Retry</h3>
                <button class="retry">Retry</button>
               </div>
            </div>

    