.greet_btn{
    width: 300px;

    font-size: 36px;
    font-weight: 700;
    line-height: 50px;

    padding: 10px 32px;

    background-image: linear-gradient(180deg, rgba(255,235,0,1) 22%, rgba(130,128,0,1) 100%);
    //background-color: var(--background-color);

    border-radius: 5px;
    border-color: transparent;

    transition: cubic-bezier(0.4, 0, 0.2, 1);;
    transition-duration: .25s;
    transition-property: box-shadow;

    &:hover,&:focus {
        color: var(--hover-btn-color);
        cursor: pointer;
        box-shadow: 3px 7px 8px var(--box-shadow);
    }
}

